* {
  padding: 0;
  margin: 0;

}

body,
button {
  font-family: 'Roboto', sans-serif;
}

.permbajtja {
  min-height: 100vh;

  width: 100%;
  background-color: #111613;
  background-image: linear-gradient(135deg, rgb(12, 12, 12) 20%,rgb(43, 31, 31), #4d1e1e 70%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navigimi {
  position: fixed;
  top: 3px;
  left: 0;
  width: 100%;
  z-index:10;
  height: 3rem;

}


.menu {
  max-width: 85rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
  
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.7px;
  line-height: 4rem;
  font-family: 'Popins', sans-serif;
  text-shadow: 0px 0px 9px #9e3a13, 0px 0px 15px #790101, 0px 0px 5px #721313;
  
}
.logo::first-letter{
  font-size: 170%;
  color:#c22f2f;
  font-weight: 780;
}
.logo span {
  font-weight: 300;
  
}
.linqet1{
  display:inline-flex;
  width:100%;
  overflow: hidden;
  margin-left:140px;
  margin-top:6px; 

}
.linqet1 a{
  margin-right:10px;
  margin-left:10px;
  color:white;
	font-weight:600;
  font-size:14px;
	text-decoration:none;
	display:inline-block;
	transition: 0.3s;
  text-align:center;
  letter-spacing: 1.7px;
  line-height: 17px;
}

.permbajtja.active .linqet1 {
  display: none;
}
.permbajtja.active .slideri {
  display: none;
}
.permbajtja.active #border{
  display: none;
}
.linqet1 a:hover{
  border-bottom: solid;
  border-width: 50%;
  border-color:rgb(167, 19, 19);
  border-bottom-width: 4px;
  border-radius: 21%;
  transform:scale(1.2);
}
.linqet1 a.active{
  border-bottom: solid;
  border-width: 20%;
  border-color:rgb(167, 20, 20);
  border-bottom-width: 3px;
  border-radius: 10%;
  text-transform: uppercase;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right:5px;
}
#border{
  border-bottom: solid rgba(221, 220, 220, 0.596) 0.5px;
  max-width: 84rem;
  margin-left:40px;
  margin-top:6px;

}
.bar {
  width: 2.1rem;
  height: 1.6px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
 
}

.bar:before {
  transform: translateY(-9px);
}


.bar:after {
  transform: translateY(9px);
}

.qendra {
  position: relative;
  width: 100%;
  left: 0;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
  z-index:5;
}

header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
.fotografit
{
background-repeat: no-repeat;
background-size:100% 100%;
background-position:center;
width: 100%;
height: 87vh;

filter:saturate(1.4);

animation: slideshow 40s infinite;

}
@keyframes slideshow{
 0%{
   background-image: url('prizren11.jpg');
 }
 7%{
   background-image:url('prizren11.jpg');
   
 }
 
12%{
  background-image: url('prizren12.jpg');
  
}
20%{
  background-image:url('prizren12.jpg');
  
}
27%{
  background-image: url('ferizaj 7.jpg');
  
}
33%{
  background-image: url('ferizaj 7.jpg');
  
}
39%{
  background-image: url('prishtina6.jpg');
  
}
45%{
  background-image: url('prishtina6.jpg');
  
}
52%{
  background-image: url('gjakova2.jpg');
  
}

59%{
  background-image: url('gjakova2.jpg');
  
}
65%{
  background-image: url('foto34.png');
  
}

72%{
  background-image: url('foto34.png');
  
}
79%{
  background-image: url('suhareka 2.jpg');
  
}
85%{
  background-image: url('suhareka 2.jpg');
 
}
92%{
  background-image: url('gjakova10.jpg');
  
}
100%{
  background-image: url('gjakova10.jpg');
 
}
}
.hijezimi {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image:
    linear-gradient(to bottom, rgba(29, 3, 3, 0.322), rgba(17, 2, 2, 0.377), rgba(17, 2, 2, 0.719), rgba(7, 7, 7, 0.877), rgb(7, 7, 7,0.960), rgb(7, 7, 7));
  display: flex;
  justify-content: center;
  
}
.brenda {
  text-align: center;
  margin-left:20px;
  color: #fff;
  display:inline-block;
}
.brenda img{
  width:50px;
  height:50px;
 
}

#playvideo{
  width:50px;
  height:50px;
  margin-top:90px;
  margin-left:-20px;
  border:none;
  border-radius: 50%;
  cursor:pointer;
  background-color:transparent;
}
#playvideo1{
  color:white;
  background-color: rgba(0, 0, 0, 0.568);
  border:none;
  border-radius: 25px;
  padding:6px 30px;
  letter-spacing: 5px;
  margin-top:143px;
  margin-left: -120px;
  position:absolute;
}
.brenda h1{
  margin-top:35px;
  margin-left: -30px;
  font-size:40px;
  letter-spacing: 2px;
  font-family: 'Princess Sofia', cursive;
  letter-spacing: 6px;
}
.statistikat{
  position:absolute;
  display:inline-flex;
  padding:10px;
  padding-right: 10px;
  margin-top:5px;
  margin-left: 290px;
  font-size:16px;
  max-height:100vh;
}
.statistikat h3{
  font-size:11px;
  padding-top:3px;
}
.statistikat li{
  padding-right: 20px;
  margin:1px;
  
}
#li1{
  background-color: rgba(0, 0, 0, 0.671);
  padding:15px 12px;
}
#li2{
  background-color: rgba(0, 0, 0, 0.562);
  padding:12px;
}
#li3{
  background-color: rgba(0, 0, 0, 0.473);
  padding:12px;
}
#li4{
  background-color: rgba(0, 0, 0, 0.253);
  padding:12px;
}
#li5{
  background-color: rgba(0, 0, 0, 0.13);
  padding:12px;
}
.fundi{
  display: inline-flex;
  width:90%;
  margin-top:140px;
  margin-left:50px;
}
.pershkrimet{
  display: inline-flex;
  margin-right: 60px;
  
}
.pershkrimet img{
  width:30px;
  height:30px;
  border:solid greenyellow;
  border-radius: 50%;
  color:white;
  background-color: white;
}
.pershkrimet h5{
  width:100%;
}
#border1{
  width:85%;
  margin-left:75px;
  margin-top:30px;
  border-bottom:solid 3px;
}


.permbajtja.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.permbajtja.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.permbajtja.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.permbajtja.active .qendra{
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1400px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1400px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.linqet {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.linqet a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  text-shadow: 0px 0px 9px #9e3a13, 0px 0px 15px #790101, 0px 0px 5px #721313;
  animation: hide 0.5s forwards ease;
}
.linqet a::first-letter{
  font-size: 135%;
  color:#c02121;
  font-weight: 500;

}

.linqet a:hover {
  border-bottom: solid white;
  
  border-radius: 5px;
  border-width: 5px;
  
  
}

.permbajtja.active .linqet a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.hija {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color:white;
}

.hija.pare {
  z-index: -1;
  opacity: 0.15;
  background-color: rgb(255, 44, 44);
}

.hija.dyte {
  z-index: -2;
  opacity: 0.1;
  background-color: rgb(202, 49, 49);
}

.permbajtja.active .hija.pare {
  animation: hija-pare 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}
/*hija eshte perdorur per te krijuar hijezimin pas faqes se fotografis me qellim dizajnimi*/
@keyframes hija-pare {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.permbajtja.active .hija.dyte {
  animation: hija-dyte 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes hija-dyte {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.permbajtja.active .qendra:hover + .hija.pare {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.permbajtja.active .qendra:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

/*footeri eshte perdorur per pjesen e fundme te faqes*/
footer{
  display:inline-flex;
  margin-top:-11px;
  width:100%;
  height:8vh;
  color:white;
  background-color: black;
}
footer p{
  padding-top:12px;
}
footer img{
  width:20px;
  height:20px;
  padding-right:5px;
  padding-left:400px;
  padding-top:12px;
}